
/* snowman -> start */
.containerSnowman{
    display: grid;
    background-color: darkcyan;
    /*grid-template-rows: 100px 100px 100px 100px 100px 100px;*/
    /*grid-template-columns: 100px 100px 100px 100px 100px 100px;*/
    grid-template-rows: repeat(6, 100px);
    grid-auto-columns: 1fr;
}

.border-top{
    grid-row: 1 / 1;
    grid-column: 1 / 7;
    background-color: darkred;
    text-align: center;
}

.border-down{
    grid-row: 6 / 6;
    grid-column: 1 / 7;
    background-color: darkgreen;
    text-align: center;
}

.border-left{
    grid-row: 1 / 7;
    grid-column: 1 / 1;
    background-color: pink;
    text-align: center;
}

.border-right{
    grid-row: 1 / 7;
    grid-column: 6 / 7;
    background-color: darkorange;
    text-align: center;
}

.containerSnowmanDraw{
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    background-color: #ED80A7;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-auto-columns: 100px 100px 100px 100px;
}


.item-1 {
    /*grid-row: 1 / 1;*/
    /*grid-column: 2 / 6;*/
    background-color: #F6ADC7;
}

.item-2  {
    background-color: #412E47;
}

.item-3  {
    background-color: #633D60;
}

#square4 {
    background-color: #A05880;
}

#square5 {
    background-color: #ED80A7;
}



/* snowman <- end> */
