/* snowman container - start from top (hat) */
#containerSnowmanFigure-1 {
    background-color: black;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 8 / 17;
}

#containerSnowmanFigure-2 {
    background-color: blue;
    display: grid;
    grid-row: 3 / 5;
    grid-column: 9 / 16;
}

#containerSnowmanFigure-3 {
    background-color: pink;
    display: grid;
    /*grid-row: 4 / 4;*/
    /*grid-column: 9 / 15;*/
    grid-row: 5 / 5;
    grid-column: 7 / 18;
}

#containerSnowmanFigure-4 {
    background-color: yellow;
    display: grid;
    grid-row: 6 / 8;
    grid-column: 9 / 16;
}

#containerSnowmanFigure-5 {
    background-color: greenyellow;
    display: grid;
    grid-row: 8 / 10;
    grid-column: 9 / 16;
}

#containerSnowmanFigure-6 {
    background-color: yellow;
    display: grid;
    grid-row: 10 / 12;
    grid-column: 8 / 17;
}

#containerSnowmanFigure-7 {
    background-color: greenyellow;
    display: grid;
    grid-row: 12 / 14;
    grid-column: 8 / 17;
}

#containerSnowmanFigure-8 {
    background-color: yellow;
    display: grid;
    grid-row: 14 / 16;
    grid-column: 8 / 17;
}

#containerSnowmanFigure-9 {
    background-color: greenyellow;
    display: grid;
    grid-row: 16 / 18;
    grid-column: 7 / 18;
}

#containerSnowmanFigure-10 {
    background-color: dimgrey;
    display: grid;
    grid-row: 18 / 20;
    grid-column: 6 / 19;
}

#containerSnowmanFigure-11 {
    background-color: green;
    display: grid;
    grid-row: 20 / 22;
    grid-column: 5 / 20;
}

#containerSnowmanFigure-12 {
    background-color: black;
    display: grid;
    grid-row: 22 / 22;
    grid-column: 2 / 23;
}

/* snowman action id - start from top (hat) */
#snowmanFigureElementAction-1{
    background-color: black;
}

#snowmanFigureElementAction-2{
    background-color: saddlebrown;
}

#snowmanFigureElementAction-3{
    background-color: black;
}

#snowmanFigureElementAction-4{
    background-color: cornflowerblue;
}

#snowmanFigureElementAction-5{
    background-color: deepskyblue;
}

#snowmanFigureElementAction-6{
    background-color: lightblue;
}

#snowmanFigureElementAction-7{
    background-color: royalblue;
}

#snowmanFigureElementAction-8{
    background-color: skyblue;
}

#snowmanFigureElementAction-9{
    background-color: cornflowerblue;
}

#snowmanFigureElementAction-10{
    background-color: steelblue;
}

#snowmanFigureElementAction-11{
    background-color: cadetblue;
}

#snowmanFigureElementAction-12{
    background-color: palegreen;
}