.gameSnowmanLives{

    /*background-color: #000000;*/
    /*background-color: #5c3243;*/
    /*background-color: #2a1e1e;*/
    /*background-color: #292929;*/
    /*background-color: #303030;*/
    /*background-color: #101010;*/
    /*background-color: #1f130e;*/
    /*background-color: #587d74;*/
    /*background-color: #3b534d;*/
    background-color: #2c3e3a;


    color: #000000;
    /*color: #292929;*/
    /*color: #c94a6f;*/
    /*color: #ac0041;*/
    /*color: #aa6581;*/
    /*color: #ff7d97;*/
    /*color: #47001a;*/
    /*color: #6b0028;*/
    /*color: #8e0035;*/
    /*color: #8a4c65;*/
    /*color: #733f54;*/
    /*color: #5c3243;*/
    /*color: #5c3243;*/
    /*color: #bf889b;*/
    /*color: #000000;*/
    /*color: #19252d;*/
    /*color: #232323;*/
    /*color: #bf889b;*/

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 0.5rem;
    font-weight: 900;


    border: none;
    border-radius: 0.45rem;
    /*box-shadow: 0px 0px 1px 1px #2a1e1e;*/
    /*box-shadow: 0px 0px 1px 1px #101010;*/
    box-shadow: 0px 0px 1px 1px #1f130e;
    /*box-shadow: 0px 0px 1px 1px #5c3243;*/

}

.gameSnowmanLivesNumber{

    /*color: #000000;*/
    /*color: #292929;*/
    /*color: #c94a6f;*/
    /*color: #ac0041;*/
    /*color: #aa6581;*/
    /*color: #ff7d97;*/
    /*color: #47001a;*/
    /*color: #6b0028;*/
    /*color: #8e0035;*/

    /*color: #8a4c65;*/

    /*color: #733f54;*/
    /*color: #5c3243;*/
    /*color: #5c3243;*/
    color: #bf889b;
    /*color: #000000;*/
    /*color: #19252d;*/
    /*color: #232323;*/
    /*color: #a35c7a;*/


    font-size: 1rem;
    font-weight: 900;

}