#containerGameSnowmanLivesMain {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 8 / 11;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: black;
}

.containerGameSnowmanLivesMainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-columns: 0fr 10fr 0fr;
    background-color: black;
}

.containerGameSnowmanLives {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: black;
}

.gameSnowmanLives {
    background-color: #4cc9f0;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #0077b6;
}

.gameSnowmanLivesBase {
    margin: auto;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 900;
    color: #1b3b6f;
    opacity: 0.8;
}

.gameSnowmanLivesNumber {
    color: #d00000;
    font-size: 1rem;
    font-weight: 900;
}

@media (max-width: 1200px) {

    #containerGameSnowmanLivesMain {
        display: grid;
        grid-row: 7 / 8;
        grid-column: 8 / 11;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color: black;

    }
}

@media (max-width: 1024px) {

    #containerGameSnowmanLivesMain {
        display: grid;
        grid-row: 5 / 6;
        grid-column: 8 / 11;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color: black;
    }
}

@media (max-width: 950px) {

    /*v1*/
    /*#containerGameSnowmanLivesMain {*/
    /*    display: grid;*/
    /*!*    grid-row: 6 / 7;*!*/
    /*    grid-column: 2 / 11;*/
    /*grid-column: 8 / 11;*/
    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
    /*background-color: black;*/
    /*}*/

    /*v2a*/
    /*#containerGameSnowmanLivesMain {*/
    /*    display: grid;*/
    /*    grid-row: 8 / 9;*/
    /*grid-column: 2 / 11;*/
    /*grid-column: 8 / 11;*/
    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
    /*background-color: black;*/
    /*}*/

    /*v2b*/
    #containerGameSnowmanLivesMain {
        display: grid;
        grid-row: 7 / 8;
        /* grid-column: 2 / 11; */
        grid-column: 8 / 11;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color: black;
    }
}