.gameSnowmanWordElementTextBuild{
    /*position: absolute;*/
    position: relative;
    bottom: 0;
    color: #ac4a71;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin:0;
    padding: 0;
}

#gameSnowmanWordElementTextBuild-0{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*position: relative;*/
}

#gameSnowmanWordElementTextBuild-1{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*position: relative;*/
}

#gameSnowmanWordElementTextBuild-2{
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*position: relative;*/
}

#gameSnowmanWordElementTextBuild-3{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*position: relative;*/
}

#gameSnowmanWordElementTextBuild-4{
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*position: relative;*/
}

.gameSnowmanWordElementTextBuild-0{
    font-size: 2.4rem;
    /*font-size: 20%;*/
    font-weight: 400;
    margin: auto;
    margin-bottom: 0;
}

.gameSnowmanWordElementTextBuild-1{
    /*position: relative;*/
    /*bottom: 130%;*/
    font-size: 1.1rem;
    /*font-size: 20%;*/
    font-weight: 200;
    /*margin: auto;*/
    margin-top: 0;
}

.gameSnowmanWordElementTextBuild-2{
    font-size: 1.4rem;
    /*font-size: 20%;*/
    font-weight: 200;
    margin: auto;
    margin-bottom: 0;
}

.gameSnowmanWordElementTextBuild-3{
    font-size: 0.9rem;
    /*font-size: 20%;*/
    font-weight: 200;
    margin: auto;
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
}

.gameSnowmanWordElementTextBuild-4{
    font-size: 1.2rem;
    /*font-size: 100%;*/
    font-weight: 200;
    /*margin: auto;*/
    margin-top: 0;
}

.gameSnowmanWordElementToDiscover{
    background-color: #e9a610;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #2a1e1e;
}

