/* home  require change -> homeScript.js*/
#containerSnowmanFigureElements-home {
    /*background-color: darkolivegreen;*/
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(23, 1fr);
}

/* subpage - gameSnowman; require change -> gameKeyboard.js*/
#containerSnowmanFigureElements-gameSnowman {
    /*background-color: darkolivegreen;*/
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(23, 1fr);
}


/* snowman container - start from top (hat) */
#containerSnowmanFigureElement-0 {
    /*background-color: black;*/
    display: grid;
    grid-row: 2 / 3;
    grid-column: 8 / 17;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-1 {
    /*background-color: blue;*/
    display: grid;
    /*grid-row: 3 / 4;  // 5 not 4 */
    grid-row: 3 / 5;
    grid-column: 9 / 16;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-2 {
    /*background-color: blue;*/
    display: grid;
    grid-row: 4 / 5;
    grid-column: 9 / 16;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-3 {
    /*background-color: pink;*/
    display: grid;
    /*grid-row: 4 / 4;*/
    /*grid-column: 9 / 15;*/

    grid-row: 5 / 6;
    grid-column: 7 / 18;

    /*grid-row: 5 / 7;*/
    /*grid-column: 7 / 18;*/

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;


}

#containerSnowmanFigureElement-4 {
    /*background-color: yellow;*/
    display: grid;
    grid-row: 6 / 8;
    grid-column: 9 / 16;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}

#containerSnowmanFigureElement-5 {
    /*background-color: greenyellow;*/
    display: grid;
    grid-row: 8 / 10;
    grid-column: 9 / 16;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerSnowmanFigureElement-6 {
    /*background-color: yellow;*/
    display: grid;
    grid-row: 10 / 12;
    grid-column: 8 / 17;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}

#containerSnowmanFigureElement-7 {
    /*background-color: greenyellow;*/
    display: grid;
    grid-row: 12 / 14;
    grid-column: 8 / 17;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;


}

#containerSnowmanFigureElement-8 {
    /*background-color: yellow;*/
    display: grid;
    grid-row: 14 / 16;
    grid-column: 8 / 17;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;


}

#containerSnowmanFigureElement-9 {
    /*background-color: greenyellow;*/
    display: grid;
    grid-row: 16 / 18;
    grid-column: 7 / 18;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

#containerSnowmanFigureElement-10 {
    /*background-color: dimgrey;*/
    display: grid;
    grid-row: 18 / 20;
    grid-column: 6 / 19;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

#containerSnowmanFigureElement-11 {
    /*background-color: green;*/
    display: grid;
    grid-row: 20 / 22;
    grid-column: 5 / 20;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

#containerSnowmanFigureElement-12 {
    /*background-color: black;*/
    display: grid;
    grid-row: 22 / 22;
    grid-column: 2 / 23;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

/* hands  */
/* left */
#containerSnowmanFigureElement-13 {
    /*background-color: orange;*/
    display: grid;
    grid-row: 11 / 13;
    grid-column: 4 / 12;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

#containerSnowmanFigureElement-14 {
    /*background-color: forestgreen;*/
    display: grid;
    grid-row: 9 / 11;
    grid-column: 4 / 12;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

/* right */
#containerSnowmanFigureElement-15 {
    /*background-color: orange;*/
    display: grid;
    /*grid-row: 10 / 13;*/
    /*grid-column: 17 / 21;*/

    /*grid-row: 11 / 13;*/
    /*grid-column: 17 / 23;*/

    grid-row: 11 / 13;
    grid-column: 15 / 23;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

#containerSnowmanFigureElement-16 {
    /*background-color: forestgreen;*/
    display: grid;
    /*grid-row: 4 / 10;*/
    /*grid-column: 18 / 21;*/

    /*grid-row: 4 / 6;*/
    /*grid-column: 15 / 23;*/

    /*grid-row: 4 / 6;*/
    /*grid-column: 15 / 23;*/

    grid-row: 9 / 11;
    grid-column: 15 / 23;

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
}

/* up */
:root {
    /*--divRadious: 0.6rem;*/
    --display: flex;
    --justifyContent: center;
    --alignItems: center;
    --borderRadius: 1.7rem;
    --snowmanFigureColor: orange;
}


/* BUTTONS */





#snowmanFigureElementAction-0 {
    /*!*background-color: #412E47;*!*/
    position: relative;

    height: 100%;
    width: 20%;
    border-radius: 50%;

    /*!*top: 115%;*!*/
    /*!*left: 52%;*!*/
    transform: translate(-50%, -50%);
    background-color: #000000;

    /*box-shadow: -5px -1px 19px 4px #390B1E;*/
    /*!*-70px 13px 50px 4px #ac4a71 inset;*!*/

    /*!*position: relative;*!*/
    /*rotate: 4deg;*/
    top: 50%;
    left: 52%;

    /*!*rotate: 143deg;*!*/
    /*!*top: -2.3rem;*!*/
    /*!*left: 8.0rem;*!*/

    /*animation: hatElement-0 5s alternate infinite;*/
    /*transform-origin: right bottom;*/

    /*!*rotate: 4deg;*!*/
    /*!*top: 320%;*!*/
    /*!*left: 188%;*!*/

}

.snowmanFigureElementAction-0 {
    /*background-color: #412E47;*/
    /*position: relative;*/

    /*height: 100%;*/
    /*width: 20%;*/
    /*border-radius: 50%;*/

    /*transform: translate(-50%, -50%);*/
    background-color: #000000;

    box-shadow: -5px -1px 19px 4px #390B1E;
    /*-70px 13px 50px 4px #ac4a71 inset;*/

    /*position: relative;*/
    rotate: 4deg;
    top: 115%;
    left: 52%;

    /*rotate: 143deg;*/
    /*top: -2.3rem;*/
    /*left: 8.0rem;*/

    animation: hatElement-0 5s 4s alternate infinite;
    transform-origin: right bottom;

    /*rotate: 4deg;*/
    /*top: 320%;*/
    /*left: 188%;*/

}



@keyframes hatElement-0 {
    from {
        rotate: 4deg;
        top: 115%;
        left: 52%;
    }
    to {
        rotate: 4deg;
        top: 320%;
        left: 188%;
    }


}




#snowmanFigureElementAction-1 {
    /*background-color: saddlebrown;*/
    /*position: relative;*/
    /*background-color: #000000;*/

    /*box-shadow: 0 2px 10px 0 #621735;*/
    /*box-shadow: 0 2px 10px 0 #2c3e3a;*/
    /*box-shadow: 0 2px 10px 0 #3b534d;*/
    /*box-shadow: 0 2px 10px 0 #587d74;*/

    /* box-shadow: 0 3px 15px 0 #390B1E; */
    /* box-shadow: 0 3px 15px 0 #230511;*/

    /*box-shadow: 0px 3px 15px -1.5px #ac4a71;*/
    /*box-shadow: -5px -1px 19px 1px #ac4a71;*/

    /*box-shadow: -5px -1px 19px 1px #390B1E,*/
    /*-4px -1px 20px 1px #ac4a71 inset;*/


    /*rotate: 4deg;*/
    /*top: 30%;*/
    /*left: 0;*/

    /*animation: hatElement-1 5s alternate infinite;*/
    /*transform-origin: right bottom;*/

    /*rotate: 130deg;*/
    /*top: 15%;*/
    /*left: 51%;*/

}

.snowmanFigureElementAction-1 {
    /*background-color: saddlebrown;*/
    position: relative;
    background-color: #000000;

    /*box-shadow: 0 2px 10px 0 #621735;*/
    /*box-shadow: 0 2px 10px 0 #2c3e3a;*/
    /*box-shadow: 0 2px 10px 0 #3b534d;*/
    /*box-shadow: 0 2px 10px 0 #587d74;*/

    /* box-shadow: 0 3px 15px 0 #390B1E; */
    /* box-shadow: 0 3px 15px 0 #230511;*/

    /*box-shadow: 0px 3px 15px -1.5px #ac4a71;*/
    /*box-shadow: -5px -1px 19px 1px #ac4a71;*/

    box-shadow: -5px -1px 19px 1px #390B1E,
    -4px -1px 20px 1px #ac4a71 inset;


    rotate: 4deg;
    top: 30%;
    left: 0;

    animation: hatElement-1 5s 4s alternate infinite;
    transform-origin: right bottom;

    /*rotate: 130deg;*/
    /*top: 15%;*/
    /*left: 51%;*/

}

@keyframes hatElement-1 {
    from {
        rotate: 4deg;
        top: 30%;
        left: 0;
    }
    to {
        rotate: 130deg;
        top: 15%;
        left: 50%;
    }


}

#snowmanFigureElementAction-2 {
    /*background-color: orange;*/
    border-radius: 0.0000001rem;
    /*position: relative;*/
    /*background-color: #000000;*/

    /*box-shadow: 0px 0px 1px 1px #2a1e1e; */
    /* box-shadow: 0px 0px 1px 1px #101010; */
    /* box-shadow: 0 5px 15px 0 #1f130e; */
    /* box-shadow: 0 3px 15px 0 #ac4a71; */
    /*box-shadow: 0 0 0 0 #ac4a71;*/
    /* box-shadow: 0 3px 15px 0 #621735; */
    /*box-shadow: 0 2px 10px 0 #621735;*/
    /*box-shadow: 0 2px 10px 0 #2c3e3a;*/
    /*box-shadow: 0 2px 10px 0 #3b534d;*/
    /*box-shadow: 0 2px 10px 0 #587d74;*/

    /*rotate: 4deg;*/
    /*top: 70%;*/
    /*left: 0;*/

}

.snowmanFigureElementAction-2 {
    /*background-color: orange;*/
    border-radius: 0.0000001rem;
    position: relative;
    background-color: #000000;
    box-shadow: 0 0 0 0 #ac4a71;
    rotate: 4deg;
    top: 70%;
    left: 0;

    animation: hatElement-2 5s 4s alternate infinite;
    transform-origin: right bottom;


}


@keyframes hatElement-2 {
    from{
        rotate: 4deg;
        top: 70%;
        left: 0;
    }
    to{
        rotate: 130deg;
        top: 10%;
        left: 45%;
    }
}

#snowmanFigureElementAction-3 {

    position: relative;
    width: 90%;

    margin: 0 auto;
    /*background-color: #000000;*/
    /*!*background-color: darkslategrey;*!*/
    /*box-shadow: inset -5px 3px 6px 1px #390B1E;*/

    /*rotate: 4deg;*/
    /*top: 70%;*/
    /*left: 0;*/



    /*animation: hatElement-3 5s alternate infinite;*/

    /*!*transform-origin: right bottom;*!*/
    /*transform-origin: right bottom;*/
    /*!*rotation-point: 90% 90%;*!*/
    /*!*transform: scale(100, 100);*!*/

    /*!*rotate: 130deg;*!*/
    /*!*top: -80%;*!*/
    /*!*left: -5%;*!*/

    /*z-index: 1;*/

}

.snowmanFigureElementAction-3 {

    position: relative;
    width: 90%;

    margin: 0 auto;
    background-color: #000000;
    /*background-color: darkslategrey;*/
    box-shadow: inset -5px 3px 6px 1px #390B1E;

    rotate: 4deg;
    top: 70%;
    left: 0;



    animation: hatElement-3 5s 4s alternate infinite;

    /*transform-origin: right bottom;*/
    transform-origin: right bottom;
    /*rotation-point: 90% 90%;*/
    /*transform: scale(100, 100);*/

    /*rotate: 130deg;*/
    /*top: -80%;*/
    /*left: -5%;*/

    z-index: 1;

}


@keyframes hatElement-3 {
    from{
        rotate: 4deg;
        top: 70%;
        left: 0;
    }
    to{
        rotate: 130deg;
        top: -80%;
        left: -5%;
    }
}


#snowmanFigureElementSmile {
    /*background-color: antiquewhite;*/

    /*width: 3rem;*/
    /*height: 1.4rem;*/
    /*border: 0;*/
    /*opacity: 0.8;*/
    /*border-radius: 70%;*/
    /*margin-right: 0.3rem;*/
    /*margin-left: 0.3rem;*/

    width: 40%;
    height: 40%;
    border: 0;
    opacity: 0.8;
    border-radius: 70%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: -7%;

    box-shadow: inset 0px -2.5px 0px 0px,
    inset -6px -4px 0px -1px;

    z-index: 2;
}

@keyframes animationSnowmanFigureElementActionAddShapeSmileChangeColor {
    from{
        box-shadow: inset 0px -2.5px 0px 0px #000000,
        inset -6px -4px 0px -1px #000000;
    }
    to{
        box-shadow: inset 0px -2.5px 0px 0px #ac4a71,
        inset -6px -4px 0px -1px #ac4a71;
    }
}

.snowmanFigureElementActionAddShapeSmile {
    animation: animationSnowmanFigureElementActionAddShapeSmileChangeColor 4s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationSnowmanFigureElementActionChangeColor {
    from{
        box-shadow: inset 0px -2.5px 0px 0px #ac4a71,
        inset -6px -4px 0px -1px #ac4a71;
    }
    to{
        box-shadow: inset 0px -2.5px 0px 0px #000000,
        inset -6px -4px 0px -1px #000000;
    }
}

.snowmanFigureElementActionChangeColor {
    animation: animationSnowmanFigureElementActionChangeColor 4s alternate;
    animation-fill-mode: forwards;
}



.snowmanFigureElementActionFinalSmile {
    box-shadow: inset 0px -2.5px 0px 0px #000000,
    inset -6px -4px 0px -1px #000000;
}



.snowmanFigureElementSmileSad {
    box-shadow: 0px -3px 0px 1px #390B1E;
}

.snowmanFigureElementEyes {
    /*background-color: #FFFFFF;*/
    width: 27%;
    height: 54%;
    margin-top: 7%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 60%;

    /*box-shadow: inset -2px 12px 2px 0px #000000,*/
    /*inset 1px 3px 2px 6px #FFFFFF,*/
    /*inset 1px 3px 3px 9px #1A780C,*/
    /*inset 0px 1px 2px 14px #000000;*/

    z-index: 1;


}

.snowmanFigureElementActionFinalEyes {
    background-color: #FFFFFF;
    box-shadow: inset -2px 12px 2px 0px #000000,
    inset 1px 3px 2px 6px #FFFFFF,
    inset 1px 3px 3px 9px #1A780C,
    inset 0px 1px 2px 14px #000000;

}


.snowmanFigureElementEye-0 {
    /*background-color: darkgreen;*/
    /*background-color: #000000;*/
    /*background-color: #FFFFFF;*/
    /*background-color: #ac4a71;*/
    /*background-color: #1A780C;*/

}

.snowmanFigureElementEye-1 {

    /*background-color: darkslategrey;*/
    /*background-color: #000000;*/
    /*background-color: #FFFFFF;*/
    /*background-color: #ac4a71;*/
    /*background-color: #1A780C;*/

}


/* snowmanFigureElementsButtons - does not work*/


.snowmanFigureElementButton {

    /*background-color: darkslategrey;*/
    /*background-color: #FFFFFF;*/
    /*background-color: ;*/
    /*width: 1.4rem;*/
    /*height: 1.4rem;*/

    width: 15%;
    height: 70%;

    border-radius: 80%;
    /*border-color: #ac4a71;*/


    /*box-shadow:*/
    /*        inset 1px -2px 5px 8px #000000*/


}

.snowmanFigureElementButtonFinal {

    /*background-color: darkslategrey;*/
    background-color: #FFFFFF;
    /*background-color: ;*/
    /*width: 1.4rem;*/
    /*height: 1.4rem;*/

    width: 15%;
    height: 70%;

    border-radius: 80%;
    /*border-color: #ac4a71;*/


    /*box-shadow:*/
    /*        inset 1px -2px 5px 8px #000000;*/
    box-shadow:
            inset 6px -3px 14px 3px #000000;


}

/* snowman action id - start from top (hat) */

.snowmanFigureElementActionAddShape {
    /*color: #ac4a71;*/
    /*border-color: #ac4a71;*/
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: none;
    border-bottom-style: none;

    animation: animationSnowmanFigureElementActionAddShapeChangeColor 3s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationSnowmanFigureElementActionAddShapeChangeColor {
    from{
        color: #000000;
        border-color: #000000;
        /*color: #ac4a71;*/
        /*border-color: #ac4a71;*/
    }
    to{
        color: #ac4a71;
        border-color: #ac4a71;
    }
}

.snowmanFigureElementActionAddShapeHands {
    /*color: #ac4a71;*/
    /*border-color: #ac4a71;*/
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    /*border-radius: 1.7rem;*/
}

.snowmanFigureElementActionAddShapeButton {
    /*color: #ac4a71;*/
    /*border-color: #ac4a71;*/
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    /*border-radius: 1.7rem;*/
}

.snowmanFigureElementActionChangeShapeShape {
    animation: animationSnowmanFigureElementActionChangeShapeColor 4s alternate;
    animation-fill-mode: forwards;
}

@keyframes animationSnowmanFigureElementActionChangeShapeColor {
    from{
        color: #ac4a71;
        border-color: #ac4a71;
    }
    to{
        color: #000000;
        border-color: #000000;
        /*border: 0;*/
    }
}

.snowmanFigureElementActionFinalSnowballs {
    border: 0;
    animation: animationSnowballs 4s ;
    animation-fill-mode: forwards;
}

@keyframes animationSnowballs {
    0% {
    }
    100% {
        box-shadow: -5px -2px 50px 1px var(--snowmanFigureColor),
        -70px 13px 50px 4px var(--snowmanFigureColor) inset;
    }
}

.snowmanFigureElementsDisplay {
    /*width: 15%;*/
    /*height: 70%;*/

    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);


}

#containerSnowmanFigureElementButtonNo-6 {
    /*background-color: #390B1E;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);



    width: 100%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-7 {
    /*background-color: #390B1E;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 100%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-8 {
    /*background-color: #390B1E;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 100%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-9 {
    /*background-color: #390B1E;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 85%;
    height: 50%;
}

#containerSnowmanFigureElementButtonNo-10 {
    /*background-color: #390B1E;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 75%;
    height: 50%;
}

/*#containerSnowmanFigureElementButtonNo-11 {*/
#containerSnowmanFigureElementButtonNo-11 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    width: 65%;
    height: 50%;
}


#snowmanFigureElementAction-4 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
}

#snowmanFigureElementAction-5 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
}

#snowmanFigureElementAction-6 {
    /*background-color: lightblue;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-7 {
    /*background-color: royalblue;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-8 {
    /*background-color: skyblue;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-9 {
    /*background-color: cornflowerblue;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-10 {
    /*background-color: steelblue;*/
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-11 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}

#snowmanFigureElementAction-12 {
    display: var(--display);
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    border-radius: var(--borderRadius);
    z-index: 1;
}





@keyframes handLeftShoulder {
    0% {
        rotate: -145deg;
        height: 75%;
        right: 10%;
        top: -30%;
    }
    10% {
        rotate: -125deg;
        height: 75%;
        right: 3%;
        top: -90%;
    }
    20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    /*20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {*/
        rotate: -135deg;
        height: 75%;
        right: 9%;
        top: -60%;
    }
    /*100%{*/
    /*    rotate: -135deg;*/
    /*    height: 75%;*/
    /*    right: 9%;*/
    /*    top: -60%;*/
    /*box-shadow: -5px -2px 50px 1px antiquewhite,*/
    /*-70px 13px 50px 4px antiquewhite inset;*/
/*}*/
}

#snowmanFigureElementAction-13 {
    border-radius: var(--borderRadius);
    position: relative;
    rotate: -145deg;
    height: 75%;
    right: 10%;
    top: -30%;
}

.snowmanFigureElementAction-13 {
    /*position: relative;*/
    /*rotate: -145deg;*/
    /*height: 75%;*/
    /*right: 10%;*/
    /*top: -30%;*/

    /*animation: animationSnowballs 4s ;*/
    /*animation-fill-mode: forwards;*/

    animation: handLeftShoulder  5s 2s alternate infinite;
    /*animation-fill-mode: forwards;*/
}


@keyframes handLeftElbow {
    0% {
        rotate: 130deg;
        height: 75%;
        right: 15%;
        top: -60%;
    }
    10% {
        height: 75%;
        right: 0%;
        top: -140%;
        rotate: 130deg;
    }
    20%{
        height: 75%;
        right: 10%;
        top: -100%;
        rotate: 130deg;
    }
    40%{
        height: 75%;
        right: 38%;
        top: -120%;
        rotate: 85deg;
    }
    50%{
        height: 75%;
        right: 50%;
        top: -115%;
        rotate: 65deg;
    }
    60%{
        height: 75%;
        right: 38%;
        top: -120%;
        rotate: 85deg;
    }
    70%{
        height: 75%;
        right: 50%;
        top: -115%;
        rotate: 65deg;
    }
    80%{
        height: 75%;
        right: 38%;
        top: -120%;
        rotate: 85deg;
    }
    100%{
        height: 75%;
        right: 10%;
        top: -100%;
        rotate: 130deg;
    }
}

#snowmanFigureElementAction-14 {
    border-radius: var(--borderRadius);
    position: relative;
    rotate: 90deg;
    height: 75%;
    right: 40%;
    top: -75%;




    /*animation: handLeftElbow 5s alternate infinite;*/
    /*animation: handLeftElbow 5s 2s alternate infinite;*/
    /*animation-name: handLeftElbow;*/
    /*animation-delay: 2s;*/
    /*animation-duration: 5s;*/
    /*!*animation: step-end;*!*/
    /*animation-direction: alternate;*/
    /*animation-iteration-count:  infinite;*/

    /*z-index: 1;*/
}

.snowmanFigureElementAction-14{
    rotate: 130deg;
    height: 75%;
    right: 15%;
    top: -60%;

    /*animation: handLeftElbow 5s alternate infinite;*/
    animation: handLeftElbow 5s 2s alternate infinite;
    /*animation-name: handLeftElbow;*/
    /*animation-delay: 2s;*/
    /*animation-duration: 5s;*/
    /*!*animation: step-end;*!*/
    /*animation-direction: alternate;*/
    /*animation-iteration-count:  infinite;*/

    z-index: 1;
}



#snowmanFigureElementAction-15 {
    border-radius: var(--borderRadius);
    /*background-color: cadetblue;*/
    position: relative;
    height: 75%;
    right: 15%;
    top: -27%;
    rotate: -35deg;

    /*animation: handRightShoulder 5s alternate infinite;*/

}

.snowmanFigureElementAction-15 {
    /*background-color: cadetblue;*/
    /*position: relative;*/
    /*height: 75%;*/
    /*right: 15%;*/
    /*top: -27%;*/
    /*rotate: -35deg;*/

    animation: handRightShoulder 5s alternate infinite;

}

@keyframes handRightShoulder {
    from {
        rotate: -35deg;
        right: 15%;
        /*top: -25%;*/
        /*top: -30%;*/
        top: -27%;
    }
    to {
        /*rotate: -45deg;*/
        /*right: 20%;*/
        /*top: -60%;*/

        rotate: -45deg;
        right: 17%;
        top: -55%;

    }
}

#snowmanFigureElementAction-16 {
    border-radius: var(--borderRadius);
    /*background-color: palegreen;*/
    position: relative;
    /*rotate: 70deg;*/
    /*top: 6.2rem;*/
    /*right: 0.8rem;*/
    /*height: 2.5rem;*/

    height: 75%;
    right: -15%;
    /*top: -55%;*/
    top: -70%;

    rotate: 90deg;

    /*animation: handRightElbow 5s alternate infinite;*/

    /*rotate: 75deg;*/
    /*right: 2%;*/
    /*top: -116%;*/


}

.snowmanFigureElementAction-16 {
    /*background-color: palegreen;*/
    position: relative;
    height: 75%;
    right: 5%;
    top: -62%;
    rotate: 60deg;

    animation: handRightElbow 5s alternate infinite;
}

@keyframes handRightElbow {
    from {
        rotate: 60deg;
        right: 5%;
        /*top: -55%;*/
        top: -62%;

    }
    to {

        /*rotate: 75deg;*/
        /*right: 2%;*/
        /*top: -110%;*/

        rotate: 75deg;
        right: 2%;
        top: -116%;
    }

}