:root {
    --homeButtoGameBnoxShadow: 0 0px 5px 0px #1c7293;
    --homeButtoGameBnoxShadowHover: 0 2px 13px 0px #1c7293;
}

#containerMainSectionHome {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 17fr 17fr 3fr 3fr 17fr 17fr 6fr;
    grid-template-columns: 10fr 3fr 17fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 17fr 3fr 10fr;
}

.containerHomeMain {
    display: grid;
    grid-row: 2 / 8;
    grid-column: 2 / 14;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerHomeMainParts {
    display: grid;
    grid-template-rows: 5fr 40fr 10fr 40fr 5fr;
    grid-template-columns: 10fr 15fr 50fr 15fr 10fr;
}

@media (max-width: 1600px) {

    #containerHomeMainParts {
        display: grid;
        grid-template-rows: 5fr 40fr 10fr 40fr 5fr;
        grid-template-columns: 10fr 15fr 50fr 15fr 10fr;
    }
}

@media (max-width: 1500px) {

    #containerHomeMainParts {
        display: grid;
        grid-template-rows: 5fr 40fr 10fr 40fr 5fr;
        grid-template-columns: 10fr 10fr 60fr 10fr 10fr;
    }
}

@media (max-width: 1400px) {

    #containerHomeMainParts {
        display: grid;
        grid-template-rows: 5fr 40fr 10fr 40fr 5fr;
        grid-template-columns: 5fr 15fr 70fr 15fr 5fr;
    }
}

@media (max-width: 1300px) {

    #containerHomeMainParts {
        display: grid;
        grid-template-rows: 5fr 40fr 10fr 40fr 5fr;
        grid-template-columns: 5fr 1fr 80fr 5fr 5fr;
    }
}

@media (max-width: 1200px) {

    #containerHomeMainParts {
        /*display: grid;*/
        /*grid-template-rows: 5fr 40fr 10fr 40fr 5fr;*/
        /*grid-template-columns: 10fr 15fr 50fr 15fr 10fr;*/
    }
}

@media (max-width: 1024px) {

}